@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700&family=Quicksand:wght@400;500;600;700&display=swap');

html,
body {
    /* margin: 1% 0% 0 0%; */
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-size: 12pt;
    color: #343434;
    background-color: white;
    text-align: justify;
}
h2{
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Lato', sans-serif; */
    font-size: 380%;
    font-weight: 700;
    
}
b.name{
    font-weight: 400;
}
b.name:hover{
    color: #FF7192;
    font-weight: 600;
    
}
.hero{
    padding-top:10%; 
    margin-left: 6%;
    background-color: #ffffff;

}
.about{
    background-color: blueviolet;
    color: aqua;
}
.row.col-6{
    display: inline-block !important;
    vertical-align: middle !important;
}

/* Button */
.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin-right:20px;
    border: none;
    outline: none;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;

    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: none;
    outline: none;
  }
/* 2 */
.btn-2 {
    background:     #ebebeb;
    border: none;
    outline: none;
    color: #444444;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }
  .btn-2:active, .btn-2:visited, .btn-2:focus{
    border: none;
    outline: none;
  }
  
  /* 15 */
.btn-15 {
    background: linear-gradient(-90deg, #FF7192 60%, #FFAB81 100%);
    border: none;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    z-index: 1;
    outline: none;
    color: #ffffff;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(315deg, #2D99DE 0%, #52BBCB 74%);;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    outline: none;
    color: #fff;
    border:none;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
    outline: none;
    border:none;

}
  .btn-15:active,.btn-15:visited, .btn-15:focus {
    /* top: 2px; */
    outline: none;
    border:none;
  }

/* social media icon */
/* .soc{
    font-size: 10px;
} */
.ir{
  display: block;
  overflow: visible;
  padding: 0 0 100%;
  position: relative;
  height: 0;
  width: 100%;
}
.ir > *{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -140%;
}
.soc li{
    display: inline-block;
    margin-right: 1rem;
}
 .soc a, svg{
    display: block;
    fill: #a0a0a0;
  }
    
 .soc a{
    height: 2rem;
    width: 2rem;
}
.soc a, svg:hover{
    fill:  #2D99DE;

}

/* Navbar section */
.list-item {
    margin-bottom: 10px;
    list-style: none;
    display: inline-block;
    margin-right: 20px;
  }
  
.border-bottom-animation {
    display: inline-block;
    color: #343434;
    text-decoration: none;
  }
  .border-bottom-animation::after {
    position: relative;
    top: -10px;
    content: "";
    display: block;
    width: 0;
    height: 2.2px;
    background: linear-gradient(-90deg, #FF7192 0%, #FFD773 100%);;
    transition: width 0.3s;
  }
  .border-bottom-animation:hover::after,
  .border-bottom-animation:focus::after {
    width: 100%;
    transition: width 0.3s;
  }

.nav {
    /* background-color: #ffffff; */
    width: 100%;
    height: auto;
    position: fixed;
    text-align: center;
    font-weight: 500;
}

.nav div.logo {
    float: left;
    font-family: 'Lato', sans-serif;
    padding-left: 0%;
    font-size: 150%;
}

.nav div.logo a {
    text-decoration: none;
    color: #444444;
    font-weight: 700;
}

.nav div.logo a:hover {
    color: #EE88A0;
}

.nav div.main_list {
    height: 65px;
    float: right;
    padding-right: 0%;

}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 2px;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #222222;
    line-height: 65px;
    font-size: 110%;
    padding-right: 0px;
    border-bottom: 2.8px solid transparent;
}
/* 
.nav div.main_list ul li a:hover {
    padding-bottom: 20%;
    border-bottom: 2.8px solid #EE88A0;
}
.nav div.main_list ul li a:active {
    color: #a8a8a8;
    border-bottom: 2.8px solid #EE88A0;
} */


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    /* background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80); */
    background-position: center top;
	background-size:cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    /* .nav div.logo {
        margin-left: 15px;
    } */
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        /* padding: 20px; */
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: linear-gradient(-90deg, #FF7192 0%, #FFAB81 100%);
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}


.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}